{% extends 'boards/base.html' %}
{% block body %}

{% if request.resolver_match.url_name == 'create' %}
    <h1>New Board</h1>
{% else %}
    <h1>EDIT Board</h1>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <!-- as_p : 각 값을 p 태그로 감싼다-->
    {{ form.as_p }}   
    <input type="submit" value="Submit"/>
</form>


{% if request.resolver_match.url_name == 'create' %}
    <a href="{% url 'boards:index' %}">BACK</a>
{% else %}
    <a href="{% url 'boards:detail' board.pk %}">BACK</a>
{% endif %}


{% endblock %}